@import './theme/index.css';
@import 'tailwindcss';

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar,
main {
  margin-block-end: 20px;
}

.body {
  display: grid;
  grid-template-columns: 1fr; /* mobile: eine Spalte */
  grid-template-areas:
    'navbar'
    'header'
    'main'
    'footer';
  gap: 1.5rem;
}

aside {
  display: none;
}

@media (max-width: 768px) {
  .body {
    grid-template-columns: 2fr 10fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'header header'
      'sidebar main'
      'footer footer';
  }
  aside {
    display: block;
  }
  .navbar {
    display: none;
  }
}

header {
  grid-area: header;
}
.navbar {
  grid-area: navbar;
  inline-size: 100%;
}
aside {
  grid-area: sidebar;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
