.keyart {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
}

.layer {
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}

.layer.parallax {
  position: fixed;
}

.content {
  background: #1a1a1a;
  min-height: 200vh;
}
