.keyart {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 1000px;
}

.keyart_layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 3200 / 1038;
}

.keyart_layer.parallax {
  position: fixed;
}
